name = "pepeeltoro41/replecs"
authors = ["PepeElToro41"]
description = "Networking library for Jecs"
includes = ["pesde.toml", "README.md", "LICENSE.md", "src"]
license = "MIT"
repository = "https://github.com/PepeElToro41/replecs"
version = "0.0.1"

[indices]
default = "https://github.com/pesde-pkg/index"

[target]
environment = "luau"
lib = "src/init.luau"

[dependencies]
jecs = { name = "marked/jecs", version = "^0.9.0-rc.5" }
