.card {
   border-radius: 0.7rem;
}

:root {
   --sl-content-width: 57rem;
   -- code {
      color: var(--sl-color-accent-high);
   }
}

.inner {
   padding: 1.2rem;
}

.padded {
   padding: 1rem;
   margin-left: 1rem;
   border-left: solid;
   border-left-color: var(--sl-color-gray-4);
   border-left-width: 1px;
}

.starlight-aside code {
   color: var(--sl-color-asides-text-accent);
}

.sub-heading {
   color: var(--sl-color-gray-3);
   font-size: var(--sl-text-sm);
}
