name: Unit Testing

on:
    workflow_call:

jobs:
    unit-testing:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Install Rokit
              uses: CompeyDev/setup-rokit@v0.1.2
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}

            - name: Setup Pesde
              uses: lumin-org/setup-pesde@v0.4.1
              with:
                  version: v0.7.0-rc.7+registry.0.2.3-rc.3

            - name: Install Packages
              run: pesde install

            - name: Run Unit Tests
              id: run_tests
              run: |
                  output=$(lune run tests/replecs.spec.luau)
                  echo "$output"
                  if [[ "$output" == *"0 fails"* ]]; then
                    echo "Unit Tests Passed"
                  else
                    echo "Error: One or More Unit Tests Failed."
                    exit 1
                  fi
